/* navbar */
.navbar {
  background: #16ABF8;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  height: 105px;
}

.header-title {
  font-family: 'Poppins' !important;
  font-style: normal !important;
  font-weight: 700 !important;
  font-size: 24px !important;
  line-height: 36px !important;
  text-transform: uppercase;
  color: #FFFFFF !important;
}

/* Section */
/* Title Section */
.activity-title, .todo-title {
  font-family: 'Poppins' !important;
  font-style: normal !important;
  font-weight: 700 !important;
  font-size: 36px !important;
  line-height: 54px !important;
  color: #111111 !important;
}

/* Button Section */
.activity-add-button {
  background: #16ABF8 !important;
  border-radius: 45px !important;
  gap: 6px !important;
  align-items: center !important;
  border: none;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  color: #FFFFFF;
}


/* Card Section */
